/* :root {
  --dark-bg: #262626;
  --grey-1: #bcb4b4;
  --deep-dark: #1e1e1e;
  --grey-2: #363636;
  --white: white;
  --black: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg);
  color: #ffffff;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-bg: #262626;
  --gray-1: #bcb4b4;
  --deep-dark: #1e1e1e;
  --gray-2: #363636;
  --white: white;
  --black: black;
}
html {
  font-size: 1em;
  font-family: 'Roboto Mono';
  background-color: var(--dark-bg);
  color: #ffffff;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  outline: none;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
